* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* Main Body */
.main {
    background: url("./Images/banner-982162_1280.jpg") no-repeat center/cover;
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

/* Calculator Box */
.calculator_container {
    display: flex;
    background: url('./Images/pexels-mudassir-ali-2680270.jpg') no-repeat center/cover;
    justify-content: center;
    height: 580px;
    width: 470px;
    z-index: 1;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

/* Caculator Box Contents */
.box_content {
    width: 400px;
    margin: auto;
    padding-bottom: 140px;
}

.box_content h1 {
    font: 700 40px 'Poppins', sans-serif;
    text-align: center;
    margin: 20px 0px;
    color: white;
}

.box_content label {
    font: 700 25px 'M PLUS 1 Code', sans-serif;
    text-align: center;
    margin: 30px 30px;
    color: white;
}

.box_content input {
    height: 50px;
    width: 410px;
    margin: 10px 0px;
    background-color: white;
    border-radius: 20px;
    border-style: none;
    font: 700 25px 'M PLUS 1 Code', sans-serif;
    padding-left: 30px;
}

/* Calculate Button */
#calculate_button {
    font: 700 25px 'Poppins', sans-serif;
    width: 250px;
    height: 40px;
    background-color: #153137;
    color: white;
    border-radius: 20px;
    border-style: none;
    margin: 0px 70px;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

/* Your Age Section */
.age {
    width: inherit;
    display: flex;
}

.age_box h2 {
    text-align: center;
    display: inline-block;
    margin: auto;
    font: 700 35px 'M PLUS 1 Code', sans-serif;
    color: white;
}

.bottom-text {
    width: inherit;
    display: flex;
}

.bottom-text h2 {
    text-align: center;
    display: inline-block;
    margin: auto;
    font: 700 25px 'M PLUS 1 Code', sans-serif;
    color: white;
}
